body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
  position: relative;

}

.logo {
  display: flex;
  align-items: center;
  flex: 0 0 500;
  min-width: 200px;
  z-index: 1000;
}

.logo img {
  height: 200px;
  margin-right: 10px;
}

.logo span {
  font-family: 'Lilita One';
  font-weight: bold;
  font-size: 24px;
  color: #BF5F07;
}

.nav-container {
  flex: 1;
  display: flex;
  justify-content: center; /* Centra los enlaces horizontalmente */
  position: relative;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra los enlaces horizontalmente */
  margin: 0 -100px; /* Ajusta el margen para centrar los enlaces */
  padding: 18px 20px;
  background-color: #BF5F07;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}


.nav-links li {
  margin: 5px 10px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.auth-links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  z-index: 10;
  margin-top: 10px;
  
}

.auth-links a {
  color: #BF5F07;
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
}

.auth-links a.login {
  background-color: #BF5F07;
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.auth-links a.register {
  color: #BF5F07;
  text-decoration: none;
  position: relative;
}

.auth-links a.register::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: #BF5F07;
}

.intro {
  text-align: left;
  padding: 20px;
  margin-bottom: 20px;

}

.intro h1 {
  font-size: 2em;
  margin: 0 0 1px;
}

.intro h2 {
  font-size: 1.5em;
  margin: 0 0 30px;
}

.intro h2 span {
  color: #6699ff;
}

.intro p {
  font-size: 1.2em;
  margin: 0 0 10px;
  line-height: 1.5;
}

.search-bar-container {
  display: flex;
  justify-content: left;
  margin-top: 20px;
}

.search-bar {
  display: inline-flex;
  align-items: center;
  background-color: #6699ff;
  padding: 10px;
  border-radius: 10px;
}

.search-input {
  position: relative;
  margin-right: 10px;
}

.search-input input {
  padding: 10px 10px 10px 30px;
  border: none;
  border-radius: 5px;
  background-color: #6699ff;
  color: white;
}

.search-input::before {
  content: attr(placeholder);
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  pointer-events: none;
}

.search-input:first-child::before {
  content: '\1F4CD';
}

.search-input:nth-child(2)::before {
  content: '\1F4BC';
}

.search-bar button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  color: #6699ff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.search-bar button .search-icon {
  margin-right: 5px;
}




/* Media Queries for Responsiveness */

@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px; /* Ajusta el valor según sea necesario */
    margin-left: auto; /* Mueve los enlaces hacia la derecha */
    margin-right: auto; /* Mueve los enlaces hacia la izquierda */
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .nav-container {
    margin-top: 10px;
    width: 100%;
    order: 2;
  }

  .nav-links {
    flex-direction: row;
    justify-content: center;
  }

  .auth-links {
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    order: 3;
  }
}

@media (max-width: 480px) {
  .logo img {
    height: 100px;
  }

  .logo span {
    font-size: 18px;
  }

  .nav-links {
    padding: 10px;
    border-radius: 25px;
    flex-direction: column;
    align-items: center;
  }

  .nav-links li {
    margin: 5px 0;
  }

  .auth-links a {
    margin: 5px 0;
    padding: 5px 10px;
  }

  .auth-links a.login {
    padding: 5px 15px;
  }

  .intro h1, .intro h2, .intro p {
    text-align: center;
  }

  .search-bar-container {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .search-input input {
    width: 80%; /* Ajusta el valor según sea necesario */
    max-width: 300px; /* Ajusta el valor según sea necesario */
  }
}

.background-container {
  position: absolute; /* Posiciona el contenedor de fondo de manera absoluta dentro del encabezado */
  top: -15px; /* Posición vertical desde la parte superior del encabezado */
  right: -75px; /* Posición horizontal desde el borde derecho del encabezado */
  z-index: -0;


}

.background_image {
  width: 95%; /* Por ejemplo, ajusta el tamaño de la imagen al 50% del contenedor */
  height: auto; /* Para mantener la proporción de la imagen */
}

.slide-in {
  animation: slideInFromTop 0.5s ease-in-out forwards;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-from-bottom {
  animation: slideInFromBottom 0.5s ease-in-out forwards;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.logo.slide-in-left {
  animation: slideInFromLeft 0.5s ease-in-out forwards;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.auth-links.slide-in-right {
  animation: slideInFromRight 0.5s ease-in-out forwards;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

main {
  position: relative;
  z-index: 1100;
}

@media (max-width: 1024px) {
  .header {
    padding: 15px;
  }


  .auth-links {
    margin-top: 180px;
  }
}

@media (max-width: 1024px) {
  .logo img {
    height: 38px; /* Ajusta el tamaño del logo */
  }

  .intro {
    text-align: right; /* Alinea el contenido al centro */
    padding: 20px;
  }

  .intro h1 {
    font-size: 1.8em; /* Reduce el tamaño del título principal */
  }

  .intro h2 {
    font-size: 1.3em; /* Reduce el tamaño del subtítulo */
  }

}

@media (max-width: 1024px) {
  .search-input input {
    width: 90%; /* Aprovecha el ancho disponible */
    max-width: none; /* Sin límite máximo de ancho */
  }
}

@media (max-width: 1024px) {
  .background_image {
    width: 60%; /* Ajusta el tamaño al 100% del contenedor */
    
  }
}

/* Estilos para el fondo de la página */
body.vacantes-por-localización {
  background-color: white; /* Fondo blanco para toda la página */
  font-family: Arial, sans-serif; /* Establecer fuente para todo el documento */
  padding: 20px; /* Espacio interior para todo el contenido */
}

.encabezado{
  margin-top: 15%;
}

/* Estilos para el contenedor principal */
.sección-provincias {
  width: 80%; /* Ancho del 80% del contenido de la página */
  margin: 0 auto;
  overflow-x: auto; /* Agregar barra de desplazamiento horizontal en dispositivos pequeños */
  background-color: white; /* Fondo blanco para la sección */
  padding: 10px; /* Espaciado interior */
  box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Sombra ligera alrededor del contenedor */
}

/* Estilos para el título de la sección */
.Título-sección-provincias {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px; /* Separación inferior mayor para el título */
  font-weight: bold;
  color: #7D98F8;
}

/* Estilos para el párrafo de bienvenida */
.Bienvenida-sección-provincias {
  font-family: Arial,'Times New Roman', Times, serif;
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px; /* Separación inferior mayor para el párrafo */
}

/* Estilos para la tabla de provincias */
.tabla-provincias {
  margin-left: 20%;
  margin-right: 20%;
  width: 70%;
  height: 70%;
  border-collapse: collapse;
  background-color: white; /* Fondo blanco para la tabla */
}

table h2 {
  color: #7D98F8;
  font-weight: bold;
}

.tabla-provincias td {
  padding: 5px;
  text-align: left;

}

/* Estilos para las imágenes en la tabla */
table td img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 600px) {
  table td img {
      width: 80px;
      height: 80px;
  }
}

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 1260px) {
  table td img {
      width: 200px;
      height: 100px;
  }
}

.tabla-provincias p {
  margin: 2px 0; /* Añadir espacio alrededor de los párrafos */
}

/* Estilos para el botón "Ver todas" */
#verTodasBtn {
  background-color: #BF5F07;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  display: block;
  margin: 20px auto; /* Centrar el botón */
}

#verTodasBtn:hover {
  background-color: #874406;
}

#arrow {
  margin-left: 5px;
}




