/*Estilos para la sección*/
.vacantes-por-localización{
    display: flex;
    margin: 20px; /* Añadir margen alrededor de la sección */
    text-align: center; /* Centrar el contenido de la sección */
    background-color: white;
    font-family: Inter, lilita one;
}

/* Estilos para el título de la sección */
.Título-sección-provincias {
    text-align: center; /* Centrar el contenido de la sección */
    font-size: 32px; /* Tamaño del texto del título */
    margin-bottom: 10px; /* Añadir margen inferior al título */
    font-style: bold; /* Estilo negrita para el párrafo de bienvenida */
}

/* Estilos para el párrafo de bienvenida */
.Bienvenida-sección-provincias {
    text-align: center; /* Centrar el contenido de la sección */
    font-size: 24px; /* Tamaño del texto del párrafo */
}

/* Estilos para la tabla de provincias */
.tabla-provincias {
    width: 100%;
    border-collapse: collapse;
}

.tabla-provincias td {
    border: 1px solid rgb(255, 255, 255);
    padding: 8px;
    text-align: center;
}

.tabla-provincias img {
    max-width: 100px;
    max-height: 100px;
}

/* Estilos para las celdas de la tabla */
.tabla-provincias td p {
    margin: 0; /* Eliminar el margen para los párrafos dentro de las celdas */
}

/* Estilos para la clase "sección provincias" */
.sección.provincias {
    margin-top: 20px; /* Añadir margen superior a la sección de provincias */
}