@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

.profile-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 28%;
  background-color: #E2F0F7;
  padding: 10px;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar el contenido horizontalmente */
  position: relative;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.sidebar.slide-in {
  transform: translateX(0);
}

.return-text {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #B71C1C;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.return-text.visible {
  opacity: 1;
}

.return-text button {
  background-color: #B71C1C;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1em;
  font-family: 'Lilita One', sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.return-text button:hover {
  background-color: #9A1A13;
}

.return-home {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #BF5F07;
  z-index: 1000;
  opacity: 0;
  animation: fadeInOut 5s infinite;
  transition: opacity 0.5s ease-in-out;
}

.return-home a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1em;
  font-family: 'Lilita One', sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.return-home a:hover {
  background-color: #9A1A13;
}

@keyframes fadeInOut {
  0%, 60%, 100% {
    opacity: 0;
  }
  30%, 50% {
    opacity: 1;
  }
}

.profile-info {
  display: flex;
  justify-content: center; /* Centrar el contenido horizontalmente */
  align-items: center;
  margin-top: 80px;
}

.profile-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 10px;
}

.sidebar-logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.sidebar-title {
  font-family: 'Lilita One', sans-serif;
  font-size: 1.4em;
  color: #BF5F07;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
  width: 100%;
}

.menu li {
  margin: 20px 0;
  width: 100%;
}

.menu li a {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center; /* Centrar el contenido horizontalmente */
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 84px;
}

.text-container {
  margin-left: 5px;
  font-size: 1.3em;
}

.main-content {
  width: 70%;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.65em;
}

.header h1 {
  margin: 0;
}

.user-dropdown {
  position: relative;
  display: inline-block;
}

.user-dropdown span {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #E2F0F7;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.user-dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #BF5F07;
}

.settings {
  margin-top: 20px;
  font-family: 'Lilita One', sans-serif;
  font-size: 1em;
}

.settings-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.photo_path {
  width: 80%; /* Ampliar el campo para arrastrar */
  text-align: center;
  border: 2px dashed #ddd;
  padding: 30px; /* Ampliar el área de arrastre */
  cursor: pointer;
}

.photo_path p {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 0.9em;
  color: #BF5F07; /* Cambiar el color de las letras */
}

.cv_path {
  width: 80%; /* Ampliar el campo para arrastrar */
  text-align: center;
  border: 2px dashed #ddd;
  padding: 30px; /* Ampliar el área de arrastre */
  cursor: pointer;
}

.cv_path p {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 0.9em;
  color: #BF5F07; /* Cambiar el color de las letras */
}

.about-us,
.location,
.contact-info {
  margin-bottom: 10px;
}

.contact-info label {
  display: block;
}

textarea,
input {
  width: calc(100% - 20px);
  padding: 5px;
  font-size: 0.9em;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Inter', sans-serif;
  margin-bottom: 10px;
}

.btn-outline {
  background-color: white;
  color: #BF5F07;
  border: 2px solid #BF5F07;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  font-family: 'Lilita One', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-outline:hover {
  background-color: #BF5F07;
  color: white;
}

.success-message {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

hr {
  border: none;
  height: 3px;
  color: #333;
  background-color: #333;
}
